@import '../../../styles/colors';

.card {
    height: 100%;

    .card__header {
        display: flex;
        flex-direction: row;

        .card__header__icon {
            color: $ocean-blue;
            display: flex;
            width: 100%;
            height: fit-content;
            justify-content: end;
        }
        
        .card__header__title {
            min-width: fit-content;
            height: fit-content;
        }
    }

    &--main {
        .card__header {
           
            .card__header__title {
                margin: 8% 0 0 12%;
            }
        }
    }

    &--inner {
        border-radius: 0.6rem;

        label,
        .card__header__title {
            color: $ocean-blue;
        }

        .card__header {
            .card__header__title {
                font-size: 22px;
                margin: 0;
            }
        }

    }

}