@import '../../../styles/colors';

.card {
    height: 100%;

    .card__header {
        display: flex;
        flex-direction: row;

        .card__header__elements {
            display: flex;
            width: 100%;
            height: fit-content;
            

            .icon {
                cursor: pointer;
                font-size: 28px;
                color: $ocean-blue;
            }
        }

        .card__header__title {
            min-width: fit-content;
            height: fit-content;
        }
    }

    &--main {
        .card__header {

            .card__header__title {
                margin: 8% 0 0 12%;
            }
        }
    }

    &--inner,
    &--small {
        border-radius: 0.6rem;

        label,
        .card__header__title {
            color: $ocean-blue;
        }
    }

    &--inner {
        .card__header {
            .card__header__title {
                font-size: 22px;
                margin: 0;
            }
            .card__header__elements {
                justify-content: center;
            }
        }
    }

    &--small {
        padding: 20px;
        margin-top: 16px;
        border: 3px dashed $sky-blue;
        height: 160px;
        .card__header {
            .card__header__title {
                font-size: 18px;
                margin: 0;
            }
            .card__header__elements {
                justify-content: flex-end;
            }
        }
    }

}