@import '../styles/colors.scss';

.settings {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(205px, 49%));
        gap: 16px;
    }
}

.simulation {
    &__fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 16px;

        .days-margin {
            display: grid;
            grid-template-columns: repeat(2, 49%);
            gap: 8px;
        }

        &__input {

            &--days,
            &--margin {
                width: 30px;
            }

            &--hour {
                width: 110px;
            }
        }
    }

    &__checks {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        gap: 8px;
        font-size: 14px;
        font-weight: bold;

        &__row {
            align-items: center;
            border: 1.5px double $sky-blue;
            border-radius: 0.4rem;
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            padding: 8px 0 8px 8px;

            .checkbox {
                label {
                    font-size: 12px;
                }
            }
        }
    }
}

.dataset {
    &__fields {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-template-rows: 2 40px;
        gap: 8px;
        margin-top: 8px;
        overflow-y: auto;
        max-height: 130px;

        .field {
            display: flex;

            &__input {
                width: 115px;
                max-width: 115px;
            }

            &__btn {
                margin-left: 8px;
                border-radius: 100%;
                min-width: 35px;
                min-height: 35px;
                padding: 5px;

                &--add {
                    &:hover {
                        background-color: $sky-blue;
                    }

                }

                &--remove {
                    &:hover {
                        background-color: tomato;
                        color: $ivory-white;
                    }

                }

                &--disabled {
                    background-color: darkgray;
                    color: $ivory-white;

                    &:hover {
                        color: $ivory-white;

                        label,
                        .icon {
                            color: $ivory-white;
                        }
                    }

                }
            }
        }
    }
}

.bottom {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 100%;

    .starter-btn {
        label {
            color: $ivory-white;
        }

        &:hover {
            background-color: $sky-blue;

            label {
                color: $ocean-blue;
            }
        }

        display: flex;
        justify-content: center;
        width: 30%;
        font-weight: bold;
    }
}
