@import '../styles/colors.scss';

.simulator {
    height: 100%;
    margin-top: 5%;
    padding: 0 10% 0 10%;
}

.simulator_settings-container {
    width: 100%;
    background-color: $ivory-white;
    padding: 20px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        gap: 16px;
    }
}

.simulator_settings {
    margin-top: 16px;
    border: 3px dashed $sky-blue;
    height: fit-content;

    .card__header__title {
        font-size: 18px;
    }

    label,
    .card__header__title {
        color: $ocean-blue;
    }

    padding: 20px;
    background-color: $ivory-white;

    .simulator_settings-StartingTime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .simulator_settings-AggregateSettings {
        display: grid;
        grid-template-columns: 24% 19% 28% 22%;
        gap: 16px;

        .simulator_settings-input {

            &.days,
            &.margin {
                width: 30px;
            }

            &.hour {
                width: 65px;
            }

        }
    }

    .simulator_settings-DateTime {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        gap: 8px;
        font-size: 14px;
        font-weight: bold;

        .date_time-pickers {
            align-items: center;
            border: 1.5px double $sky-blue;
            border-radius: 0.4rem;
            margin-top: 5px;
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            padding: 8px 0 8px 8px;
        }

        .datetime_checkbox {
            display: flex;
            align-items: center;
        }
    }

    .simulator_settings-input {
        margin: 6px 0 10px 8px;
    }

}

.dataset_settings {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: 2 40px;
    gap: 8px;
    margin-top: 8px;

    .dataset_add-btn {
        margin-left: 8px;
        border-radius: 100%;
        padding: 5px;

        &:hover {
            background-color: $sky-blue;
        }

    }

    .dataset_field {
        display: flex;
    }
    
    .dataset_input {
        width: 115px;
        max-width: 115px;
    }
}