@import '../../../styles/colors';

.custom-button {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    border-radius: 0.4rem;
    cursor: pointer;
    color: $ivory-white;
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
    &:hover {
        label, .icon {
            cursor: pointer;
            color: $ocean-blue;
        }
        color: $ocean-blue;
        background-color: $sky-blue;
    }


    border: none;
    background-color: $ocean-blue;
}