@import './colors';


body {
    background: $background-blue;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    #root {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}

* {
    .custom-button, .nav_menu_item, .nav_menu_item &.child {
        cursor: pointer;
    }


    overflow:  hidden;
    margin: 0;
    padding: 0;

    label, h1, .icon {
        color: $ivory-white;
    }
}   
