@import '../../../styles/colors';

.custom-input {
    height: fit-content;

    .icon {
        position: absolute;
        margin: 3px 5px 5px 5px;
    }

    &__field {
        padding: 5px;
        border: none;
        border-bottom: 2px solid $ocean-blue;
        color: $ocean-blue;
        background-color: $translucid-sky-blue;
        height: 20px;

        &--iconed {
            padding-left: 30px;
            
        }
    }

    &__field:focus {
        outline: none;
    }

    &__label {
        color: $ocean-blue;
        margin-right: 8px;
        font-size: 14px;
        font-weight: bold;
    }
}