@import '../../../styles/colors';

.custom_input {
    height: fit-content;
}

.custom_input-field {
    padding: 5px;
    border: none;
    border-bottom: 2px solid $ocean-blue;
    margin-left: 8px;
    color: $ocean-blue;
    background-color: $translucid-sky-blue;
    height: 20px;
}

.custom_input-field:focus {
    outline: none;
}

.custom_input-label {
    font-size: 14px;
    font-weight: bold;
}