@import '../../../../styles/colors';

.nav_menu {
    height: 100%;
    width: 100%;
    background-color: $translucid-ocean-blue;
    position: relative;
    padding-top: 100px;
    
    &.visible {
        display: block;
    }

    &.hidden {
        display: none;
    }
}
