@import '../../../../styles/colors';

.nav_menu {
    width: 100%;
    background-color: $translucid-ocean-blue;
    margin-top: -80px;
    padding-top: 160px;
    height: 100%;
    position: relative;

    &.visible {
        display: block;
    }

    &.hidden {
        display: none;
    }
}